/* gestion du footer */
footer {
  position: relative;
  background-color: var(--primary-dark);
  color: #fff;
  display: flex;
  align-items: center;
  padding: var(--space-4) var(--space-3);

  .navinfo {
    display: flex;
    gap: var(--space-3);

    nav {
      font-size: var(--fs-sm);

      ul {
        list-style-type: none;
        padding: 0;
      }

      a {
        display: flex;
        align-items: center;
        gap: var(--space-2);
        color: #fff;
        font-size: var(--fs-sm);

        .lucide {
          width: var(--fs-sm);
          height: var(--fs-sm);
        }
      }
    }
  }

  .legal {
    display: flex;
    gap: var(--space-3);
    justify-content: center;

    nav {
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: var(--space-2);

        li> a, li > span {
          display: flex;
          align-items: center;
          gap: var(--space-1);
          color: #fff;
          font-size: var(--fs-xs);

          .lucide {
            width: var(--fs-xs);
            height: var(--fs-xs);
          }
        }
      }
    }
  }
}