/* gestion du header */
header {
  position: relative;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 var(--space-3);
  
  @media (min-width: 960px) {
    height: var(--header-height);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-2);

    @media (min-width: 960px) {
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  
  .logo {
    display: flex;
    order: 1;
    gap: var(--space-3);
    align-items: center;
    padding: var(--space-2) 0;

    a {
      display: block;
    }

    img {
      width: auto;
      height: calc(var(--header-height) - var(--space-3) * 2);
    }

    .title {
      font-family: var(--ff-cursive);
      font-size: var(--fs-lg);
      line-height: 1;
      text-align: left;

      @media (min-width: 960px) {
        .break {
          display: none;
        }
      }
    }
  }

  /* taille de toutes les icônes */
  i[data-lucide] {
    width: 20px;
    height: 20px;
  }

  nav {
    /* pour faire apparaitre en dernier en mode mobile */
    order: 5;
    width: 100%;
    @media (min-width: 960px) {
      order: 2;
      width: auto;
    }
    
    ul {
      list-style: none;
      display: flex;
      flex-direction: column; /* vertical mobile */
      gap: var(--space-2);
      margin: 0;
      padding: var(--space-2) 0;
      overflow: hidden;
      margin-top: -100%;
      opacity: 0;
      transition-property: margin-top, opacity;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
      transition-delay: var(--transition-duration), 0s;

      li {
        text-align: center;
        @media (min-width: 960px) {
          text-align: left;
        }

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: var(--space-2);
          padding: var(--space-1) var(--space-2);
          
          
          font-size: var(--fs-sm);
          color: #fff;
          text-decoration: none;
          border-radius: var(--border-radius);
          transition: background-color 0.2s, color 0.2s;
          white-space: nowrap;
          
          &.active {
            color: var(--secondary);
          }

          &:hover,
          &:focus {
            background-color: var(--secondary);
            color: #000;
            text-decoration: none;
          }

          @media (min-width: 960px) {
            display: flex;
            padding: var(--space-2) var(--space-3);
          }
        }
      }

      &.open {
        margin-top: 0;
        opacity: 1;
        transition-delay: 0s, var(--transition-duration);
      }

      /* désactivation des liens quand le menu est fermé sur mobile */
      @media (max-width: 960px) {
        &:not(.open) a {
          pointer-events: none;
        }
      }

      @media (min-width: 960px) {
        flex-direction: row;
        margin-top: 0;
        opacity: 1;
        li a {
          height: calc(var(--header-height) * 2 / 3);
        }
      }
    }
  }

  /* réseaux sociaux */
  .rs {
    order: 3;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: var(--space-2) 0;

    a {
      color: #fff;
      transition: color 0.2s;

      &:hover,
      &:focus {
        color: var(--secondary);
      }
    }
  }

  

  /* Bouton hamburger */
  .menu-toggle {
    order: 4;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: var(--space-2) 0;

    .toggle {
      display: block;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--secondary);
      }
    }
    
    @media (min-width: 960px) {
      display: none;
    }
  }
}