.section-map {
  background-color: var(--secondary-dark);

  .map-container {
    --map-border-radius: var(--border-radiu-lg);

    @media (min-width: 768px) {
      --map-aspect-ratio: 2 / 1;
    }
      
    @media (min-width: 960px) {
      --map-aspect-ratio: 3 / 1;
    }
  }
}