:root {
  /* theme de couleurs */
  --primary-hsl: 25 76% 31%;
  --secondary-hsl: 28 100% 86%;
  /* Autres variations possibles : */
  /* --primary-hsl: 0 68% 41%;
  --secondary-hsl: 39 77% 83%; */
  /* --primary-hsl: 25 75% 47%;
  --secondary-hsl: 197 72% 73%; */

  /* raccourcis pour accès direct */
  --primary: hsl(var(--primary-hsl));
  --secondary: hsl(var(--secondary-hsl));

  --primary-dark: color-mix(in hsl, hsl(var(--primary-hsl)) 60%, black);
  --primary-light: color-mix(in hsl, hsl(var(--primary-hsl)) 80%, white);

  /* Secondary */
  --secondary-dark: color-mix(in hsl, hsl(var(--secondary-hsl)) 60%, black);
  --secondary-light: color-mix(in hsl, hsl(var(--secondary-hsl)) 80%, white);
  
  --text-color: #333;
  --bg-color: #fefefe;
  --error-color: #FF6B6B;

  --header-height: 80px;
  
  --ff-cursive: 'Parisienne', cursive;
  --ff-sans: 'Raleway', Helvetica, Arial, sans-serif;

  --fs-de: 16px;
  --fs-lg: 1.75rem;
  --fs-sm: 0.875rem;
  --lh-de: 1.5;
  --lh-sm: 1.4;

  --fw-normal: 500;
  --fw-bold: 700;

  /* définition des marges */
  --space-1: .25rem;
  --space-2: .5rem;
  --space-3: 1rem;
  --space-4 : 2rem;

  /* définition des rayons de bordure */
  --border-radius: .5rem;

  /* gestion transition par défaut */
  --transition-duration: 0.3s;
  --transition-timing-function: ease-out;
  --transition-base: all var(--transition-duration) var(--transition-timing-function);
}