:root {
  /* theme de couleurs */
  --primary-hsl: 25 76% 31%;
  --primary-light-hsl: 25 66% 41%;
  --primary-dark-hsl: 25 56% 11%;

  --secondary-hsl: 28 100% 86%;
  --secondary-light-hsl: 28 90% 96%;
  --secondary-dark-hsl: 28 80% 66%;

  /* raccourcis pour accès direct */
  --primary: hsl(var(--primary-hsl));
  --primary-dark: hsl(var(--primary-dark-hsl));
  --primary-light: hsl(var(--primary-light-hsl));
  --secondary: hsl(var(--secondary-hsl));
  --secondary-dark: hsl(var(--secondary-dark-hsl));
  --secondary-light: hsl(var(--secondary-light-hsl));
  
  --text-color: #333;
  --bg-color: #fefefe;
  --error-color: #FF6B6B;

  --header-height: 80px;
  
  --ff-cursive: 'Parisienne', 'Brush Script MT', 'Segoe Script', 'Apple Chancery',  cursive;
  --ff-sans: 'Raleway', Helvetica, Arial, sans-serif;

  --fs-de: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;
  --fs-sm: 0.75rem;
  --fs-xs: 0.65rem;
  --lh-de: 1.5;
  --lh-sm: 1.4;

  --fw-normal: 500;
  --fw-bold: 700;

  /* définition des marges */
  --space-1: .25rem;
  --space-2: .5rem;
  --space-3: 1rem;
  --space-4 : 2rem;

  /* définition des rayons de bordure */
  --border-radiu-de: .5rem;
  --border-radiu-lg: 1rem;

  /* gestion transition par défaut */
  --transition-duration: 300ms;
  --transition-timing-function: ease-out;
  --transition-base: all var(--transition-duration) var(--transition-timing-function);

  /* grossissement polices en desktop */
  @media (min-width: 960px) {
    --fs-lg: 1.75rem;
    --fs-sm: 0.875rem;
  }

  /* variables de sections */
  --sections-sep-gap: var(--space-4);
  --sections-p-y: var(--sections-sep-gap);
}