@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";
@import "./style/_variables.css";
@import "./style/_utilities.css";

/* styles globaux */
:root {
  font-family: var(--ff-sans);
  font-size: var(--fs-de);
  font-weight: var(--fw-normal);
  line-height: var(--lh-de);

  /* color-scheme: light dark; */
  background-color: var(--bg-color);
  color: var(--text-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* un peu de style basique... */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-cursive);
  font-weight: var(--fw-bold);
  line-height: var(--lh-sm);
  margin-top: 0;

  & + * {
    margin-top: var(--space-2);
  }
}

p {
  margin: 0;
  & + p {
    margin-top: var(--space-1);
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* gestion du header */
header {
  height: var(--header-height);
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  
  .container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: .5rem;

    a {
      display: block;
    }
    
    img {
      width: auto;
      height: calc(var(--header-height) - 20px);
    }
    
    .title {
      font-family: var(--ff-cursive);
      font-size: var(--fs-lg);
      line-height: 1;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      font-size: var(--fs-sm);
    }

    a {
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      padding: .25rem .5rem;


      &.active {
        color: var(--secondary-color);
      }

      &:hover,
      &:focus {
        background-color: var(--secondary-color);
        text-decoration: none;
      }
    }
  }

  .rs {
    margin-left: auto;
    a {
      color: #fff;

      &:hover,
      &:focus {
        color: var(--secondary-color);
      }
    }
  }
}

.rs {
  display: flex;
  gap: var(--space-1);
}