@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";
@import "./style/_variables.css";
@import "./style/_utilities.css";

/* styles globaux */
:root {
  font-family: var(--ff-sans);
  font-size: var(--fs-de);
  font-weight: var(--fw-normal);
  line-height: var(--lh-de);

  /* color-scheme: light dark; */
  background-color: var(--bg-color);
  color: var(--text-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* un peu de style basique... */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-cursive);
  font-weight: var(--fw-bold);
  line-height: var(--lh-sm);
  margin-top: 0;

  & + * {
    margin-top: var(--space-2);
  }
}

p {
  margin: 0;
  & + p {
    margin-top: var(--space-1);
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* gestion du header */
header {
  position: relative;
  height: var(--header-height);
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .container {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    gap: var(--space-1);
    align-items: center;

    a {
      display: block;
    }
    
    img {
      width: auto;
      height: calc(var(--header-height) - 20px);
    }
    
    .title {
      font-family: var(--ff-cursive);
      font-size: var(--fs-lg);
      line-height: 1;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column; /* menu vertical mobile */
      gap: var(--space-1);
      margin: 0;
      padding: 0;
      overflow: hidden;
      max-height: 0; /* menu fermé par défaut */
      transition: max-height 0.3s ease;

      li {
        a {
          display: flex;
          align-items: center;
          gap: var(--space-1);
          padding: 0 var(--space-2);
          height: var(--header-height);
          font-size: var(--fs-sm);
          color: #fff;
          text-decoration: none;
          border-radius: .25rem;
          transition: background-color 0.2s, color 0.2s;

          i[data-lucide] {
            width: 20px;
            height: 20px;
          }

          &.active {
            color: var(--secondary-color);
          }

          &:hover,
          &:focus {
            background-color: var(--secondary-color);
            color: #000;
            text-decoration: none;
          }
        }
      }

      /* menu ouvert */
      &.open {
        max-height: 1000px; /* assez grand pour contenir tous les liens */
      }

      @media (min-width: 768px) {
        flex-direction: row;
        max-height: none;
        li a {
          height: var(--header-height);
        }
      }
    }
  }

  /* Bouton hamburger */
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 10;

    i[data-lucide] {
      width: 24px;
      height: 24px;
      stroke: currentColor;
    }

    @media (min-width: 768px) {
      display: none; /* masqué sur desktop */
    }
  }
}


.rs {
  display: flex;
  gap: var(--space-1);
}