@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "normalize.css";
@import "./style/_variables.css";
@import "./style/_utilities.css";
@import "./style/_elements.css";

/* import alls layouts elements */
@import "./style/layout/_header.css";
@import "./style/layout/_footer.css";
@import "./style/layout/_section-map.css";
@import "./style/layout/_section-description.css";

/* zone de contenu */
.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
